$primary-bg: #000;
$primary-text-color: #ff3b3b;
$navbar-bg: #333333;

body {
  background-color: $primary-bg;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: $primary-text-color;
}

nav {
  background-color: $navbar-bg;
  padding: 10px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.upper-section {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .text {
    order: 1;
    @media (min-width: 768px) {
      order: 0;
      flex: 1;
    }
  }

  .image {
    order: 0;
    @media (min-width: 768px) {
      order: 1;
      flex: 1;
    }
  }
}

.lower-section {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .form {
    order: 1;
    @media (min-width: 768px) {
      order: 0;
      flex: 1;
      padding-right: 20px; // Adjust as needed
    }
    // Add the following rule to make label and .username text color white
    label[for="username"],
    .username {
      color: white;
    }

    // Add the following rule to make label associated with "comment" text color white
    label[for="comment"] {
      color: white;
    }
  }

  .comments {
    order: 0;
    @media (min-width: 768px) {
      order: 1;
      flex: 1;
      // Add the following rule to make .comments text color white
      li {
        color: white;
      }
    }
  }
}
